<li><a><i class="fa fa-bed"></i> <%= t('admin.sidemenu_8.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.rooms.title'), admin_accommodations_rooms_path %>
    </li>
    <li>
      <%= link_to t('admin.room_classes.title'), admin_accommodations_room_classes_path %>
    </li>
    <li>
      <%= link_to t('admin.accessories.title'), admin_accommodations_accessories_path %>
    </li>
    <li>
      <%= link_to t('admin.services.title'), admin_accommodations_services_path %>
    </li>
  </ul>
</li>