<li><a><i class="fa fa-shopping-basket"></i> <%= t('admin.sidemenu_4.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.goods.title'), admin_products_goods_path %>
    </li>
    <li>
      <%= link_to t('admin.ingredients.title') , admin_products_ingredients_path %>
    </li>
    <li>
      <%= link_to t('admin.goods_categories.title'), admin_products_goods_categories_path %>
    </li>
    <li>
      <%= link_to t('admin.colors.title'), admin_products_colors_path %>
    </li>
    <li>
      <%= link_to t('admin.sizes.title'), admin_products_sizes_path %>
    </li>
  </ul>
</li>