<li><a><i class="fa fa-suitcase"></i> <%= t('admin.sidemenu_6.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.shoppers.title'), admin_tenants_shoppers_path %>
    </li>
    <li>
      <%= link_to t('admin.shop_statuses.title'), admin_tenants_shop_statuses_path %>
    </li>
    <li>
      <%= link_to t('admin.distributors.title'), admin_tenants_distributors_path %>
    </li>
    <li>
      <%= link_to t('admin.shoppers_distributors.title'), admin_tenants_shoppers_distributors_path %>
    </li>
  </ul>
</li>