<% provide(:title, t('admin.restaurants.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.restaurants.detail_page_title'), description: t('admin.restaurants.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/foods_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.restaurants.title'), description: t('admin.restaurants.description')} %>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title" colspan="2">項目</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="headings">
                    <th class="column-title"><%= t('admin.restaurants.items.name') %></th>
                    <td> <%= @restaurant.name %></td>
                  </tr>
                </tbody>
              </table>

              <%= link_to 'Edit', edit_admin_foods_restaurant_path(@restaurant) %>
              |
              <%= link_to 'Back', admin_foods_restaurants_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>