<% provide(:title, t('admin.providers.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.providers.title'), description: t('admin.providers.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/providers_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.providers.title'), description: t('admin.providers.description')} %>
          <div class="x_content">

            <%= render 'pagination' %>
            <%= render :partial => 'table_contents', :locals => {providers: @providers} %>
            <%= render 'pagination' %>

            <br>
            <% if can? :create, Provider %>
              <%= set_button_new(t('admin.providers.buttons.add'), new_admin_providers_provider_path) %>
            <% end %>

            <%= set_button_csv(t('admin.providers.buttons.csv_export'), admin_providers_providers_path(format: 'csv')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>