<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
    <thead>
    <tr class="headings">
      <th>
        <input type="checkbox" id="check-all" class="flat">
      </th>
      <th class="column-title"><%= t('admin.use_terms.items.title') %></th>
      <th class="column-title"><%= t('admin.use_terms.items.description') %></th>
      <th class="column-title"><%= t('admin.use_terms.items.created_at') %></th>
      <th class="column-title"><%= t('admin.use_terms.items.updated_at') %></th>
      <th class="column-title no-link last" colspan="3"><span class="nobr"><%= t('admin.use_terms.items.controls') %></span></th>
      <th class="bulk-actions" colspan="12">
        <a class="antoo" style="color:#fff; font-weight:500;"><%= t('admin.elements.buttons.bulc_action') %> ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @use_terms.each do |use_term| %>
        <tr class="even pointer">
          <td class="a-center">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td> <%= use_term.title %></td>
          <td> <%= use_term.description %></td>
          <td> <%= use_term.formatted_created_date %></td>
          <td> <%= use_term.formatted_updated_date %></td>
          <td> <%= set_button_show('', [:admin, :settings, use_term]) %></td>
          <td> <%= set_button_edit('', edit_admin_settings_use_term_path(use_term)) %></td>
          <td> <%= set_button_delete('', [:admin, :settings, use_term]) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>