<% provide(:title, t('admin.use_terms.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.use_terms.detail_page_title'), description: t('admin.use_terms.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/settings_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.use_terms.title'), description: t('admin.use_terms.description')} %>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title" colspan="2">項目</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="headings">
                    <th class="column-title"><%= t('admin.use_terms.items.title') %></th>
                    <td> <%= @use_term.title %></td>
                  </tr>
                </tbody>
              </table>

              <%= link_to 'Edit', edit_admin_settings_use_term_path(@use_term) %>
              |
              <%= link_to 'Back', admin_settings_use_terms_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>