<div class="container marketing">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-8">
      <div class="page-header">
        <h3><%= t('front.site_inquiry.confirm.title') %></h3>
      </div>
      <%= form_for @site_inquiry, :url => site_inquiry_thanks_path do |f| %>
        <table class="table">
          <tr>
            <th class="col-xs-4"><%= t('front.site_inquiry.confirm.items.name') %></th>
            <td>
              <%= f.hidden_field :name %>
              <%= @site_inquiry.name %>
            <td>
          </tr>
          <tr>
            <th><%= t('front.site_inquiry.confirm.items.email') %></th>
            <td>
              <%= f.hidden_field :email %>
              <%= @site_inquiry.email %>
            </td>
          </tr>
          <tr>
            <th><%= t('front.site_inquiry.confirm.items.inquiry') %></th>
            <td>
              <%= f.hidden_field :body %>
              <%= simple_format(@site_inquiry.body) %>
            </td>
          </tr>
        </table>
        <br>
        <%= f.submit t('front.site_inquiry.confirm.buttons.caption'),
                     :class => 'btn btn-primary',
                     data: { disable_with: t('front.site_inquiry.confirm.buttons.sending')} %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<br>
