<% provide(:title, t('admin.apartments.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.apartments.title'), description: t('admin.apartments.description')} %>
    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.elements.search.button'), description: ''} %>
          <div class="x_content">
            <%= render 'search_form' %>
          </div>
        </div>

        <%= render 'layouts/admin_menus/apartments_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.apartments.title'), description: t('admin.apartments.description')} %>
          <div class="x_content">

            <%= render 'pagination' %>
            <%= render :partial => 'table_contents', :locals => {apartments: @apartments} %>
            <%= render 'pagination' %>

            <br>
            <%= set_button_new(t('admin.apartments.buttons.add'), new_admin_apartment_path) %>
            <%= set_button_csv(t('admin.apartments.buttons.csv_export'), admin_apartments_path(format: 'csv')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>