<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
    <thead>
    <tr class="headings">
      <th>
        <input type="checkbox" id="check-all" class="flat">
      </th>
      <th class="column-title"><%= t('admin.accessories.items.name') %></th>
      <th class="column-title"><%= t('admin.accessories.items.created_at') %></th>
      <th class="column-title"><%= t('admin.accessories.items.updated_at') %></th>
      <th class="column-title no-link last" colspan="3"><span class="nobr"><%= t('admin.accessories.items.controls') %></span></th>
      <th class="bulk-actions" colspan="12">
        <a class="antoo" style="color:#fff; font-weight:500;"><%= t('admin.elements.buttons.bulc_action') %> ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @accessories.each do |accessory| %>
        <tr class="even pointer">
          <td class="a-center">
            <input type="checkbox" class="flat" name="table_records">
          </td>
          <td> <%= accessory.name %></td>
          <td> <%= accessory.formatted_created_date %></td>
          <td> <%= accessory.formatted_updated_date %></td>
          <td> <%= set_button_show('', [:admin, :accommodations, accessory]) %></td>
          <td> <%= set_button_edit('', edit_admin_accommodations_accessory_path(accessory)) %></td>
          <td> <%= set_button_delete('', [:admin, :accommodations, accessory]) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>