<div class="mainplane__not-found">
  <div class="mainplane__not-found__title">
    <%= t('front.not_found.title') %>
  </div>
  <div class="mainplane__not-found__description">
    <%= t('front.not_found.description') %>
  </div>
</div>

<div class="mainplane__search-others">
  <div class="mainplane__search-others__title-base">
    <div class="mainplane__search-others__title">
      <%= t('front.not_found.recommendation') %>
    </div>
  </div>
  <div class="mainplane__search-others__body">
    <div class="mainplane__search-others__body__item">
      <button class="btn btn-lg btn-info search-others__btn">
        <%= t('front.not_found.property.apartments') %>
      </button>
    </div>
    <div class="mainplane__search-others__body__item">
      <button class="btn btn-lg btn-info search-others__btn">
        <%= t('front.not_found.property.lands') %>
      </button>
    </div>
  </div>
</div>