<ul class="nav nav-tabs">
  <li role="presentation" class="<%= activate_sub_menu(controller, "rooms") %>" >
    <%= link_to t('admin.rooms.title'), admin_accommodations_rooms_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "room_classes") %>" >
    <%= link_to t('admin.room_classes.title'), admin_accommodations_room_classes_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "accessories") %>" >
    <%= link_to t('admin.accessories.title'), admin_accommodations_accessories_path %>
  </li>
  <li role="presentation" class="<%= activate_sub_menu(controller, "services") %>" >
    <%= link_to t('admin.services.title'), admin_accommodations_services_path %>
  </li>
</ul>