<ul class="nav nav-tabs">
    <li role="presentation" class="<%= activate_sub_menu(controller, "goods") %>" >
      <%= link_to t('admin.goods.title'), admin_products_goods_path %>
    </li>
    <li role="presentation" class="<%= activate_sub_menu(controller, "ingredients") %>" >
      <%= link_to t('admin.ingredients.title') , admin_products_ingredients_path %>
    </li>
    <li role="presentation" class="<%= activate_sub_menu(controller, "goods_categories") %>" >
      <%= link_to t('admin.goods_categories.title'), admin_products_goods_categories_path %>
    </li>
    <li role="presentation" class="<%= activate_sub_menu(controller, "colors") %>" >
      <%= link_to t('admin.colors.title'), admin_products_colors_path %>
    </li>
    <li role="presentation" class="<%= activate_sub_menu(controller, "sizes") %>" >
      <%= link_to t('admin.sizes.title'), admin_products_sizes_path %>
    </li>
</ul>