<% colors.each do |color| %>
    <tr>
      <td><%= color.name %></td>
      <td><%= color.created_at %></td>
      <td><%= color.updated_at %></td>
      <td><%= link_to 'Show', admin_products_color_path(color), :class => 'ui left floated mini button' %></td>
      <td><%= link_to 'Edit', edit_admin_products_color_path(color), :class => 'ui left floated teal mini button' %></td>
      <td><%= link_to 'Delete', new_admin_products_color_path, :class => 'ui left floated red mini button' %></td>
    </tr>
<% end %>
