
<h4 class="ui horizontal divider header" style="margin: 20px 0;">
  <i class="tag icon"></i>
  <%= t('admin.colors.title') %>
</h4>

<%= render :partial => 'search_form', :locals => {q: @q} %>

<h3 class="ui top attached header">
  <%= link_to 'Create Color', new_admin_products_color_path, :class => 'ui blue button' %>
  <%= paginate @colors %>
</h3>
<div class="ui attached segment">
  <table class="ui compact table">
    <thead>
    <th><%= sort_link(@q, :name, t('admin.users.items.name')) %></th>
    <th><%= sort_link(@q, :created_at, t('admin.users.items.updated_at')) %></th>
    <th><%= sort_link(@q, :updated_at, t('admin.users.items.created_at')) %></th>
    <th colspan="3">Controls</th>
    </thead>
    <tbody>
    <%= render :partial => 'table_contents', :locals => { colors: @colors } %>
    </tbody>
  </table>
</div>
<h3 class="ui bottom attached clearing header segment">
  <%= link_to 'Create Color', new_admin_products_color_path, :class => 'ui left floated blue button' %>

  <%= paginate @colors %>
</h3>
