<% if user_signed_in? %>
  <div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle list-header__info--signed-in-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= image_tag gravatar_url, :class => 'control-box__gravatar' %><span class="list-header__info--signed-in-name"><%= name %></span>
      <% if Rails.env.development? %>
          <span class="label label-success">:<%= role %></span>
      <% end %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu list-header__info--signed-in-menu" aria-labelledby="dropdownMenu1">
      <li><a href="<%= my_page_link %>"><%= t('front.header.session.mypage') %></a></li>
      <li><a href="<%= edit_link %>"><%= t('front.header.session.edit_profile') %></a></li>
      <li role="separator" class="divider"></li>
      <li><a href="<%= logout_link %>" data-toggle="tooltip" data-method="delete" data-placement="top" title="Logout"><%= t('front.header.session.sign_out') %></a></li>
      <% unless current_user.customer? %>
      <li role="separator" class="divider"></li>
      <li><a href="<%= admin_page_link %>"><%= t('front.header.session.to_admin', :site_name => Settings.site[:name]) %></a></li>
      <% end %>
      <% if Rails.env.development? %>
      <li><a href="<%= clear_session_link %>"><%= t('front.header.session.clear_session') %></a></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <button class="btn btn-sm btn-success" onclick="location.href='<%= login_link %>'"><%= t('front.header.session.btn_sign_in') %></button>
<% end %>