<% provide(:title, "Home") %>

<div class="top-body__base">
  <div class="top-body__title">
    <%= t('front.top.home.search_property') %>
  </div>

  <div class="container">
    <div class="top-body__buttons">
      <%= link_to t('front.top.home.apartment'), apartment_province_list_path, :class => 'btn top-body__categories' %>
      <%= link_to t('front.top.home.condominium'), apartment_province_list_path, :class => 'btn top-body__categories' %>
      <%= link_to t('front.top.home.house'), apartment_province_list_path, :class => 'btn top-body__categories' %>
      <%= link_to t('front.top.home.land'), apartment_province_list_path, :class => 'btn top-body__categories' %>
    </div>
  </div>
</div>
