<div class="table-responsive">
<table class="table table-striped jambo_table bulk_action">
  <thead>
  <tr class="headings">
    <th>
      <input type="checkbox" id="check-all" class="flat">
    </th>
    <th class="column-title"><%= t('admin.courses.items.title') %></th>
    <th class="column-title"><%= t('admin.courses.items.created_at') %></th>
    <th class="column-title"><%= t('admin.courses.items.updated_at') %></th>
    <th class="column-title no-link last" colspan="3"><span class="nobr"><%= t('admin.courses.items.controls') %></span></th>
    <th class="bulk-actions" colspan="12">
      <a class="antoo" style="color:#fff; font-weight:500;"><%= t('admin.elements.buttons.bulc_action') %> ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr class="even pointer">
        <td class="a-center">
          <input type="checkbox" class="flat" name="table_records">
        </td>
        <td> <%= course.title %></td>
        <td> <%= course.formatted_created_date %></td>
        <td> <%= course.formatted_updated_date %></td>
        <td> <%= set_button_show('', [:admin, :foods, @restaurant, course]) %></td>
        <td> <%= set_button_edit('', edit_admin_foods_restaurant_course_path(@restaurant, course)) %></td>
        <td> <%= set_button_delete('', [:admin, :foods, @restaurant,  course]) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>