<% provide(:title, t('admin.shop_statuses.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.shop_statuses.title'), description: t('admin.shop_statuses.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/tenants_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.shop_statuses.title'), description: t('admin.shop_statuses.description')} %>
          <div class="x_content">

            <%= render 'pagination' %>
            <%= render :partial => 'table_contents', :locals => {shop_statuses: @shop_statuses} %>
            <%= render 'pagination' %>

            <br>
            <%= set_button_new(t('admin.shop_statuses.buttons.add'), new_admin_tenants_shop_status_path) %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>