<div class="ui vertical fluid menu" style="border-radius: 0;">
  <div class="header item" style="height: 76px; background: #6435c9; border-radius: 0;">
    <h1 class="ui centered header">
      <div class="content" style="color: #ffffff; line-height: 50px;">
        Suneikii
      </div>
    </h1>
  </div>
  <div class="ui cards">
    <div class="card" style="border-radius: 0;">
      <div class="content">
        <img class="right floated mini ui image" src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852">
        <div class="header">
          Hiroshige Negishi
        </div>
        <div class="meta">
          Suneikii Admin
        </div>
        <div class="description">
          Hello, Hiroshige!
        </div>
      </div>
    </div>
  </div>
  <div class="ui styled accordion" style="border-radius: 0;">
    <div class="<%= active_module?('analytics') %> title">
      <i class="dropdown icon"></i>
      Analytics
    </div>
    <div class="<%= active_module?('analytics') %> content">
      <a class="<%= active?('analytics/dashbords') %> item"><i class="edit icon"></i> Dashbord</a>
    </div>
    <div class="<%= active_module?('products') %> title">
      <i class="dropdown icon"></i>
      Products
    </div>
    <div class="<%= active_module?('products') %> content">
      <a class="<%= active?('products/goods') %> item"><i class="edit icon"></i> Products</a>
      <a class="<%= active?('products/sizes') %> item"><i class="globe icon"></i> Sizes</a>
      <a class="<%= active?('products/colors') %> item"><i class="globe icon"></i> Colors</a>
      <a class="<%= active?('products/ingredients') %> item"><i class="globe icon"></i> Contents</a>
      <a class="<%= active?('products/goods_categories') %> item"><i class="globe icon"></i> Category</a>
      <a class="<%= active?('products/reviews') %> item"><i class="globe icon"></i> Reviews</a>
      <a class="<%= active?('products/collections') %> item"><i class="globe icon"></i> Collections</a>
    </div>
    <div class="<%= active_module?('dealings') %> title">
      <i class="dropdown icon"></i>
      Trades
    </div>
    <div class="<%= active_module?('dealings') %> content">
      <a class="<%= active?('dealings/orders') %> item"><i class="edit icon"></i> Orders</a>
      <a class="<%= active?('dealings/payment_methods') %> item"><i class="globe icon"></i> Payment Methods</a>
    </div>
    <div class="<%= active_module?('members') %> title">
      <i class="dropdown icon"></i>
      Members
    </div>
    <div class="<%= active_module?('members') %> content">
      <a class="<%= active?('members/users') %> item"><i class="edit icon"></i> Users</a>
      <a class="<%= active?('members/wishlists') %> item"><i class="globe icon"></i> Wishlists</a>
    </div>
    <div class="<%= active_module?('tenants') %> title">
      <i class="dropdown icon"></i>
      Shoppers
    </div>
    <div class="<%= active_module?('tenants') %> content">
      <a class="<%= active?('tenants/shoppers') %> item"><i class="edit icon"></i> Shops</a>
      <a class="<%= active?('tenants/distributors') %> item"><i class="globe icon"></i> Distributions</a>
    </div>
    <div class="<%= active_module?('sites') %> title">
      <i class="dropdown icon"></i>
      Sites
    </div>
    <div class="<%= active_module?('sites') %> content">
      <a class="<%= active?('sites/settings') %> item"><i class="edit icon"></i> Settings</a>
      <a class="<%= active?('sites/blogs') %> item"><i class="globe icon"></i> Blogs</a>
    </div>
  </div>
</div>
