<% provide(:title, t('admin.rooms.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.rooms.title'), description: t('admin.rooms.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/accommodations_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.rooms.title'), description: t('admin.rooms.description')} %>
          <div class="x_content">

            <%= render 'pagination' %>
            <%= render :partial => 'table_contents', :locals => {goods: @rooms} %>
            <%= render 'pagination' %>

            <br>
            <%= set_button_new(t('admin.rooms.buttons.add'), new_admin_accommodations_room_path) %>
            <%= set_button_csv(t('admin.rooms.buttons.csv_export'), admin_accommodations_rooms_path(format: 'csv')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>