<% @users.each do |user| %>
  <div class="ui styled fluid accordion">
    <div class="title active">
      <i class="dropdown icon"></i>
      <%= user.profile.first_name %> <%= user.profile.last_name %> <<%= user.email %>>
    </div>
    <div class="content active">
      <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
  </div>
  <%= user.who_are_you %></td>
  <%= set_button_delete('', [:admin, :members, user]) %>
<% end %>