<div style="height: 30%; margin: 0 auto;">
  <img class="ui centered image" style="height: 250px;" src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852">
</div>

<table class="ui definition table">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Address1</td>
    <td><%= @user.address1 %></td>
  </tr>
  <tr>
    <td>Address2</td>
    <td><%= @user.address2 %>0</td>
  </tr>
  <tr>
    <td>Tel</td>
    <td><%= @user.tel %></td>
  </tr>
  </tbody>
</table>
