<% users.each do |user| %>
    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">
            <div class="sub header">
              <a class="ui blue image large label">
                <img src="https://kotobank.jp/image/dictionary/nipponica/media/81306024014516.jpg">
                <%= user.name %>
                <div class="detail"><%= user.role.capitalize %></div>
              </a>

            </div>
          </div>
        </h4></td>
      <td><%= user.email %> <a class="ui teal tag label"><%= user.your_id_sign %></a></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.current_sign_in_ip %></td>
    </tr>
<% end %>
