<table class="ui very basic collapsing fluid celled table">
  <thead>
  <tr>
    <th>User</th>
    <th>Email Address</th>
    <th>Current SignIn IP</th>
    <th>Detail</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852" class="ui mini rounded image">
          <div class="content">
            <%= user.first_name %> <%= user.last_name %>
            <div class="sub header">
              <div class="ui mini violet label" style="margin-top: 5px;"><%= user.who_are_you %></div>
            </div>
          </div>
        </h4></td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.current_sign_in_ip %>
      </td>
      <td>
        <div id="users-control">
          <button class="ui primary mini button detail" data-id="<%= user.id %>">
            Detail
          </button>
          <button class="ui red mini button delete" data-id="<%= user.id %>">
            Delete
          </button>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
