<table class="ui very basic collapsing fluid celled table">
  <thead>
  <tr>
    <th>User</th>
    <th>Email Address</th>
    <th>Detail</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td>
        <h4 class="ui image header">
          <img src="http://img06.shop-pro.jp/PA01137/578/product/68035427.jpg?cmsp_timestamp=20160205104852" class="ui mini rounded image">
          <div class="content">
            <%= user.first_name %> <%= user.last_name %>
            <div class="sub header">
              <div class="ui mini violet label" style="margin-top: 5px;"><%= user.who_are_you %></div>
            </div>
          </div>
        </h4></td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <button id="users-detail-<%= user.id %>" class="ui primary mini button">
          Detail
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(function() {
    $('#users-detail-102').on('click', function() {
      alert('clicked');
      $('.ui.modal').modal('show');
    });
  });
</script>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="image content">
    <div class="image">
      An image can appear on left or an icon
    </div>
    <div class="description">
      A description can appear on the right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>