<% @users.title(t('admin.users.title')) %>

<h4 class="ui horizontal divider header" style="margin: 20px 0;">
  <i class="tag icon"></i>
  Users
</h4>

<%= render :partial => 'search_form', :locals => {q: @q} %>

<%= render 'pagination' %>

<h3 class="ui top attached header">
  <%= t('admin.users.title') %>

</h3>
<div class="ui attached segment">
  <table class="ui very basic collapsing celled table">
    <thead>
    <th><%= AttrValue.attr('profile.first_name') %></th>
    <th><%= sort_link(@q, :email, AttrValue.attr('user.email')) %></th>
    <th><%= sort_link(@q, :login_ct, AttrValue.attr('user.sign_in_count')) %></th>
    <th><%= sort_link(@q, :current_ip, AttrValue.attr('user.current_sign_in_ip')) %></th>
    </thead>
    <tbody>
      <%= render :partial => 'table_contents', :locals => { users: @users } %>
    </tbody>
  </table>
</div>
<h3 class="ui bottom attached header">
  Footer
</h3>

<%= render 'pagination' %>