  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="<%= admin_path %>" class="site_title"><i class="fa fa-s15"></i> <span><%= Settings.site[:name] %> <%= t('admin.page_title') %></span></a>
      </div>
      <div class="clearfix"></div>

      <div class="profile">
        <div class="profile_pic">
          <%= image_tag current_user.gravatar_url, :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span><%= t('admin.greeting') %></span>
          <h2>
            <%= current_user.name %> さん
          </h2>
        </div>
      </div>
      <br />

      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <%= render partial: 'layouts/partials/sub_bars/home' %>
            <%= render partial: 'layouts/partials/sub_bars/site_sub' %>
            <%= render partial: 'layouts/partials/sub_bars/reports_sub' %>
          </ul>
        </div>

        <div class="menu_section">
          <h3>Products</h3>
          <ul class="nav side-menu">
            <%= render partial: 'layouts/partials/sub_bars/products_sub' %>
          </ul>
        </div>

        <div class="menu_section">
          <h3>Members</h3>
          <ul class="nav side-menu">
            <%= render partial: 'layouts/partials/sub_bars/tenants_sub' %>
            <% if can? :read, User %>
                <%= render partial: 'layouts/partials/sub_bars/users_sub' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
