<footer class="footer footer_padding">
	<small>
    <%= t('site_name') %></a>
		by <%= t('site_name') %></a>
	</small>
	<nav>
		<ul>
			<li><%= link_to t('footer.items.item_1'), root_path %></li>
			<li><%= link_to t('footer.items.item_2'), retail_law_path %></li>
			<li><%= link_to t('footer.items.item_3'), privacy_path %></li>
			<li><%= link_to t('footer.items.item_4'), recruit_path %></li>
			<li><%= link_to t('footer.items.item_5'), location_path %></li>
			<li><%= link_to t('footer.items.item_6'), inquiry_path %></li>
		</ul>
	</nav>
</footer>