<div class="ui vertical fluid menu" style="border-radius: 0;">
  <%= render 'layouts/partials/admin/sidebar_header' %>

  <div class="ui styled accordion" style="border-radius: 0;">
    <%= render 'layouts/partials/admin/sidebar_analytics' %>
    <%= render 'layouts/partials/admin/sidebar_products' %>
    <%= render 'layouts/partials/admin/sidebar_trades' %>
    <%= render 'layouts/partials/admin/sidebar_members' %>
    <%= render 'layouts/partials/admin/sidebar_shoppers' %>
    <%= render 'layouts/partials/admin/sidebar_sites' %>
  </div>
</div>
