<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{yield(:title)} | #{Settings.site[:name]}" : Settings.site[:name] %> </title>

  <%= render 'layouts/partials/assets' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <% render 'layouts/shared/flash' %>

  <div class="ui sidebar inverted vertical accordion menu">
    <%= render 'layouts/partials/admin/sidebar' %>
  </div>
  <div class="pusher">

    <div class="ui grid container">
      <div class="four wide attached column">
        <%= render 'layouts/partials/admin/sidebar' %>
      </div>
      <div class="twelve wide stretched attached column" style="margin-left: 0;">
        <%= render 'layouts/partials/admin/header' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
